[include steppers.cfg]
[include mainsail.cfg]
[include macroses/*.cfg]
[include klicky/klicky-probe.cfg]
[include others.cfg]


[mcu]
# serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_34FFFFFF344E313338651757-if00
serial: /dev/ttyS5
restart_method: command

[mcu host]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 2500
max_z_velocity: 8
max_z_accel: 150


[idle_timeout]
gcode:
   TURN_OFF_HEATERS
   M84             ; disable steppers
timeout: 3600      ;60 min


[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC3
min_temp: -70
max_temp: 130

[heater_fan nozzle_cooling_fan]
pin: PC6
max_power: 1 
shutdown_speed: 0
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan]
pin: PC7
kick_start_time: 0.500
off_below: 0.15


[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 80

[temperature_sensor orange_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 90


[probe]
pin:  ^PC2

#deactivate_on_each_sample: True
x_offset: 2.0
y_offset: 18.0
#z_offset:  18.500
speed: 1
lift_speed: 10
samples: 3 #3
sample_retract_dist: 3
samples_tolerance: 0.04
samples_tolerance_retries: 20
#sample_retract_dist: 2.0
#lift_speed:
#samples_result: average
#samples_tolerance: 0.100
#samples_tolerance_retries: 0

#activate_gcode:
#deactivate_gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.183
#*# pid_ki = 1.189
#*# pid_kd = 113.019
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.622
#*# pid_ki = 2.180
#*# pid_kd = 572.038
#*#
#*# [probe]
#*# z_offset = 18.499
